@using LinaModels
@model System.Collections.Generic.List<LinaModels.School>

@{
    ViewBag.Title = "Okul Listesi";
}

<h2>Okul Listesi</h2>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Ad</th>
        <th>Adres</th>
        <th>Tel</th>
        <th>Logo</th>
        <th>Web</th>
        <th>#</th>
    </tr>
    </thead>
    <tbody>
    @foreach (School item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>@item.Phone</td>
            <td>@item.LogoUrl</td>
            <td>@item.Website</td>
            <td><a href="/School/Edit/@item.Id">Güncelle</a></td>
        </tr>
    }
    
    </tbody>

</table>